<div class="absolute w-full overflow-hidden">
  <div
    class="relative animate-move-earth items-center flex justify-center min-h-screen container"
  >
    <div
      class="absolute right-[-100px] top-[-20px] w-[300px] h-[300px] sm:w-[500px] sm:h-[500px] flex items-center justify-center rounded-full"
    >
      <div
        class="hidden sm:block absolute bg-black w-[220px] aspect-square rounded-full"
      ></div>

      <div class="absolute">
        <ng-lottie [options]="options">></ng-lottie>
      </div>
    </div>
  </div>
</div>
